---
import type { BlogEntry } from '../lib/blog';
import { getPostUrl } from '../lib/blog';

interface Props {
  posts: BlogEntry[];
}

const { posts } = Astro.props;
---

{posts.length > 0 && (
  <section class="related-posts">
    <p class="eyebrow">Keep Reading</p>
    <h2>Related Posts</h2>
    <ul class="related-posts__grid">
      {posts.map((post) => (
        <li class="related-posts__item">
          <a href={getPostUrl(post)}>{post.data.title}</a>
        </li>
      ))}
    </ul>
  </section>
)}
